#nav-toggle {
    position: absolute;
    top: -10000px;
}

nav.menuIndex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    left: 0;
    right: 0;
    top: 0;

    margin-top: 2px;
    padding: 0 5%; 
    height: 100px;

    position: sticky;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark-bg);
    /* background-color: #242526; */
}


nav.menuIndex .opciones {
    display: flex;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);

    float: left;
    width: 40%;
    height: 100%;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

nav.menuIndex .opciones .line {
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

nav.menuIndex .list {
    float: right;
    padding: 0;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

nav.menuIndex .list li {
    margin: 0 15px;
    list-style: none;
}

nav.menuIndex .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

nav.menuIndex .list a:hover {
    color: var(--primary-color);
    border-bottom: 3px solid var(--secondary-color);
    /*
    color: #29a5d3;
    border-bottom: 3px solid #f6894c ;
    */
}

nav.menuIndex .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

    justify-content: center;
}

nav.menuIndex .logo img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 15px;
}




nav.menuIndex .perfil {
    display: flex;
    right: 5%;
    top: 50%;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

    /*
    display: flex;
    float: right;
    width: 40%;
    height: 100%;
    */

}

nav.menuIndex .perfil img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-left: 15px;
}



/* ------------------------------------- */
/* Media query para dispositivos móviles */
/* ------------------------------------- */
@media (max-width: 1024px){
    nav.menu .logo{
        float: none;
        width: auto;
        justify-content: center;
    }

    nav.menu .list{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        transform: all  .5s ease-in-out;
    }

    nav.menu .list a{
        font-size: 20px;

    }

    nav.menu :checked ~ .list{
        bottom: 0;
    }

    nav.menu .opciones{
        display: block;
    }
}


@media (max-width: 768px){
    nav.menu .logo{
        float: none;
        width: auto;
        justify-content: center;
    }

    nav.menu .list{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        transform: all  .5s ease-in-out;
    }

    nav.menu .list a{
        font-size: 20px;

    }

    nav.menu :checked ~ .list{
        bottom: 0;
    }

    nav.menu .opciones{
        display: block;
    }
}





































/* ------------------------------------- */
/* Media query para dispositivos móviles */
/* ------------------------------------- */
@media (max-width: 768px) {
    nav.menuIndex .logo{
        display: flex;  
        width: auto;
        margin: 0 auto;
    }

    nav.menuIndex .opciones{
        float: none;
        width: auto;
        justify-content: left;
    }


    nav.menuIndex .list {
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav.menuIndex .list li {
        margin: 15px 0;
        text-align: center;
    }

 
    nav.menuIndex :checked ~ .list {
        bottom: 0;
    }
}


/* Para pantallas medianas */
@media (max-width: 1024px) {
    nav.menuIndex .logo{
        display: flex;   
        width: auto;
        margin: 0 auto;
    }

    nav.menuIndex .opciones{
        float: none;
        width: auto;
        justify-content: left;
    }


    nav.menuIndex .list {
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav.menuIndex .list li {
        margin: 15px 0;
        text-align: center;
    }

 
    nav.menuIndex :checked ~ .list {
        bottom: 0;
    }
  }


  
  /*// Para pantallas grandes 
  @media (max-width: 1440px) {
    nav.menuIndex .logo{
        display: none;
        float: none;
        width: auto;
        justify-content: center;
    }

    nav.menuIndex .opciones{
        float: none;
        width: auto;
        justify-content: left;
    }


    nav.menuIndex .list {
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav.menuIndex .list li {
        margin: 15px 0;
        text-align: center;
    }

 
    nav.menuIndex :checked ~ .list {
        bottom: 0;
    }
  }
    //*/