aside{
    float: right;
    flex: 40%;
    /* width: 640px; */
    background-color: transparent;
    padding: 30px;
    box-sizing: border-box;
    border: solid 1px var(--gray-color);
    box-shadow: 2px 2px 5px var(--gray-color);
}